<a href="https://colab.research.google.com/github/doheeeeekim/Undergraduate_IndustrialDS/blob/main/%EC%82%B0%EC%97%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EA%B3%BC%ED%95%99_5%EC%A3%BC%EC%B0%A8%EA%B3%BC%EC%A0%9C_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# #5주차 과제
>[과제] 회귀 모형을 이용하여 과제용 데이터(실제값이 제거된 데이터의 예측치 구하기
>> - 일부 변수는 본인 의사에 맞게 수정해도 됨
>> - 변수 선택은 주관적으로 시행해도 됨(불필요하다고 생각되면 제거해도 됨
>> - 예측 값은 학습한 모델에 과제용 데이터를 넣어서 출력된 값을 제출하면 됨(csv형태로)
>> - csv 형태로 저장하기 위한 방법으로는 출력 값을 pandas의 dataframe으로 변형한 다음 (출력값).to_csv('저장위치/저장파일이름.csv')를 실행하면 됨 

![image.png]()

In [ ]:
#필요한 라이브러리 불러오기
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt
import scipy.stats as st
from google.colab import drive

In [ ]:
dt= pd.read_csv('car.csv')
dt.head()

,Year,Kilometers_Driven,Fuel_Type,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Maker,Price
0,2015,41000,Diesel,First,19.67,1582,126.20,5.0,NaN,Hyundai,12.50
1,2011,46000,Petrol,First,18.20,1199,88.70,5.0,8.61,Honda,4.50
2,2012,87000,Diesel,First,20.77,1248,88.76,7.0,NaN,Maruti,6.00
3,2013,40670,Diesel,Second,15.20,1968,140.80,5.0,NaN,Audi,17.74
4,2013,86999,Diesel,First,23.08,1461,63.10,5.0,NaN,Nissan,3.50

In [ ]:
predict_dt=pd.read_csv('test_car.csv')
predict_dt.head()

,Year,Kilometers_Driven,Fuel_Type,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Maker
0,2013,85000,Diesel,First,17.68,1968,174.33,5,NaN,Audi
1,2017,27000,Petrol,First,21.40,1197,83.10,5,NaN,Maruti
2,2016,45794,Diesel,First,13.01,2199,194.30,7,NaN,Hyundai
3,2013,57352,Diesel,First,14.39,1998,163.70,5,NaN,Chevrolet
4,2018,41467,Diesel,First,15.00,2143,204.00,5,NaN,Mercedes-Benz

In [ ]:
dt0=dt.iloc[:,:10]
dt0.info()
dt0['Year']=dt0['Year'].astype('object')
dt0['Seats']=dt0['Seats'].astype('object')
test1=pd.get_dummies(dt0,prefix_sep='_',drop_first=True)
len(test1.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5558 entries, 0 to 5557
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               5558 non-null   int64
 1   Kilometers_Driven  5558 non-null   int64
 2   Fuel_Type          5558 non-null   object
 3   Owner_Type         5558 non-null   object
 4   Mileage            5558 non-null   float64
 5   Engine             5558 non-null   int64
 6   Power              5558 non-null   float64
 7   Seats              5556 non-null   float64
 8   New_Price          773 non-null    object
 9   Maker              5558 non-null   object
dtypes: float64(3), int64(3), object(4)
memory usage: 434.3+ KB

582

In [ ]:
predict_dt['Year']=predict_dt['Year'].astype('object')
predict_dt['Seats']=predict_dt['Seats'].astype('object')
test2=pd.get_dummies(predict_dt,prefix_sep='_',drop_first=True)
len(test2.columns)

49

In [ ]:
#결측치 확인
for col_value in dt.columns:
  detect_null = sum(dt[col_value].isnull())
  print("{}에 포함된 결측값은 {}개 입니다".format(col_value, detect_null))

Year에 포함된 결측값은 0개 입니다
Kilometers_Driven에 포함된 결측값은 0개 입니다
Fuel_Type에 포함된 결측값은 0개 입니다
Owner_Type에 포함된 결측값은 0개 입니다
Mileage에 포함된 결측값은 0개 입니다
Engine에 포함된 결측값은 0개 입니다
Power에 포함된 결측값은 0개 입니다
Seats에 포함된 결측값은 0개 입니다
New_Price에 포함된 결측값은 4783개 입니다
Maker에 포함된 결측값은 0개 입니다
Price에 포함된 결측값은 0개 입니다

In [ ]:
dt=dt.loc[dt['Seats'].notnull(),:]
dt

,Year,Kilometers_Driven,Fuel_Type,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Maker,Price
0,2015,41000,Diesel,First,19.67,1582,126.20,5.0,NaN,Hyundai,12.50
1,2011,46000,Petrol,First,18.20,1199,88.70,5.0,8.61,Honda,4.50
2,2012,87000,Diesel,First,20.77,1248,88.76,7.0,NaN,Maruti,6.00
3,2013,40670,Diesel,Second,15.20,1968,140.80,5.0,NaN,Audi,17.74
4,2013,86999,Diesel,First,23.08,1461,63.10,5.0,NaN,Nissan,3.50
...,...,...,...,...,...,...,...,...,...,...,...
5553,2014,27365,Diesel,First,28.40,1248,74.00,5.0,7.88,Maruti,4.75
5554,2015,100000,Diesel,First,24.40,1120,71.00,5.0,NaN,Hyundai,4.00
5555,2012,55000,Diesel,Second,14.00,2498,112.00,8.0,NaN,Mahindra,2.90
5556,2013,46000,Petrol,First,18.90,998,67.10,5.0,NaN,Maruti,2.65
5557,2011,47000,Diesel,First,25.44,936,57.60,5.0,NaN,Chevrolet,2.50

In [ ]:
#결측치 확인
for col_value in predict_dt.columns:
  detect_null = sum(predict_dt[col_value].isnull())
  print("{}에 포함된 결측값은 {}개 입니다".format(col_value, detect_null))

Year에 포함된 결측값은 0개 입니다
Kilometers_Driven에 포함된 결측값은 0개 입니다
Fuel_Type에 포함된 결측값은 0개 입니다
Owner_Type에 포함된 결측값은 0개 입니다
Mileage에 포함된 결측값은 0개 입니다
Engine에 포함된 결측값은 0개 입니다
Power에 포함된 결측값은 0개 입니다
Seats에 포함된 결측값은 0개 입니다
New_Price에 포함된 결측값은 209개 입니다
Maker에 포함된 결측값은 0개 입니다

In [ ]:
y=dt['Price']

In [ ]:
x= pd.concat([dt.iloc[:,:10],predict_dt])
x.head()

,Year,Kilometers_Driven,Fuel_Type,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Maker
0,2015,41000,Diesel,First,19.67,1582,126.20,5.0,NaN,Hyundai
1,2011,46000,Petrol,First,18.20,1199,88.70,5.0,8.61,Honda
2,2012,87000,Diesel,First,20.77,1248,88.76,7.0,NaN,Maruti
3,2013,40670,Diesel,Second,15.20,1968,140.80,5.0,NaN,Audi
4,2013,86999,Diesel,First,23.08,1461,63.10,5.0,NaN,Nissan

In [ ]:
print(len(dt))
print(len(predict_dt))

5556
250

In [ ]:
col=list(x.columns)
col.remove('New_Price')
x=x.loc[:,col]

In [ ]:
x['Year']=x['Year'].astype('object')
x['Seats']=x['Seats'].astype('object')

In [ ]:
x=pd.get_dummies(x,prefix_sep='_',drop_first=True)
x.head()

,Kilometers_Driven,Mileage,Engine,Power,Year_1999,Year_2000,Year_2001,Year_2002,Year_2003,Year_2004,...,Maker_Mini,Maker_Mitsubishi,Maker_Nissan,Maker_Porsche,Maker_Renault,Maker_Skoda,Maker_Tata,Maker_Toyota,Maker_Volkswagen,Maker_Volvo
0,41000,19.67,1582,126.20,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,46000,18.20,1199,88.70,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,87000,20.77,1248,88.76,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,40670,15.20,1968,140.80,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,86999,23.08,1461,63.10,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
trainx=x.iloc[:len(y),:].to_numpy()
testx=x.iloc[len(y):,:].to_numpy()
#가격이 0이상의 값(양수)로 만들어주기 위해 로그치환해주기
trainy=np.log(y).to_numpy()

In [ ]:
import sklearn.preprocessing
scaler=sklearn.preprocessing.MinMaxScaler()
trainx=scaler.fit_transform(trainx)
testx=scaler.fit_transform(testx)
print(trainx)

[[0.05269421 0.69260563 0.17826572 ... 0.         0.         0.        ]
 [0.05914724 0.64084507 0.10699665 ... 0.         0.         0.        ]
 [0.11206215 0.73133803 0.11611463 ... 0.         0.         0.        ]
 ...
 [0.07076271 0.49295775 0.34871604 ... 0.         0.         0.        ]
 [0.05914724 0.66549296 0.06959434 ... 0.         0.         0.        ]
 [0.06043785 0.89577465 0.05805731 ... 0.         0.         0.        ]]

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression(fit_intercept=False, normalize=True, copy_X=True)
print(model)

LinearRegression(fit_intercept=False, normalize=True)

In [ ]:
model.fit(trainx,trainy)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,

LinearRegression(fit_intercept=False, normalize=True)

In [ ]:
print('R-square: {}'.format(model.score(trainx, trainy)))

R-square: 0.9145263269639354

In [ ]:
from sklearn.metrics import mean_squared_error
train_predict = model.predict(trainx)
compare = pd.concat([pd.DataFrame(abs(train_predict)), pd.DataFrame(trainy)],axis=1)
print(compare)
mean_squared_error(train_predict, trainy)

             0         0
0     2.139913  2.525729
1     1.096729  1.504077
2     1.541788  1.791759
3     2.700406  2.875822
4     1.338642  1.252763
...        ...       ...
5551  1.485376  1.558145
5552  1.632049  1.386294
5553  1.755119  1.064711
5554  1.190855  0.974560
5555  0.650684  0.916291

[5556 rows x 2 columns]

0.06361236563086813

In [ ]:
predict=model.predict(testx)
np.exp(predict)

array([ 15.62646519,   5.63893435,  18.19473607,   6.1549443 ,
        42.29948526,   1.76274961,   4.8662249 ,   9.33568729,
         6.49461777,  22.5655561 ,   6.66070991,   4.80880479,
         4.1294344 ,  17.74230363,  20.74087983,   5.47303552,
         2.82225144,  44.21014484,  14.16727777,   6.12153528,
         1.97263369,   3.21294515,   4.8291315 ,   8.46417641,
        10.51441076,   3.79861931,   9.10857642,   6.09324726,
         9.6382997 ,   3.21002276,   1.77058587,  39.52078865,
        19.48734093,   4.49691752,   5.54379762,   4.78693646,
         2.45372362,  95.79418756,  32.40372522,   2.19880586,
         2.20165911,   4.14007087,   3.79233416,  12.074571  ,
         3.39801194,   4.57536833,   6.29253587,  33.95271042,
         2.54200386,   2.26271034,   7.53295566,   4.19787315,
         4.70484574,   2.92899347,   4.11913886,   7.8347776 ,
         6.10994315,   6.52081657,   1.76373623,  33.73541082,
         4.16918479,   9.47234409,   4.31805656,   5.33816857,
         4.19755269,   2.82705488,   6.21982501,   4.81722478,
         5.95980392,   4.1278061 ,   4.59285474,   8.74505349,
         2.76315872,   6.31353926,   3.14368035,   4.00134895,
         3.82878296,   3.13837122,   4.38330789,   8.95052439,
         2.63968935,   5.62329362,   7.45742881,   8.81847305,
         5.12900051,   4.71118017,   5.61437411,  21.30295333,
         4.29238548,   5.71040961,   6.24946577,   4.76419824,
         3.2783451 ,   6.48623534,   6.38784305,   1.43524292,
         3.49266092,   7.3123833 ,  13.57974433,   1.02733621,
         1.32574099,  24.78047032,   2.9590825 ,  10.32424461,
        26.62534971,   5.50430574,   7.19973453,   3.62571662,
         3.74757144,   5.49887853,   5.15136318,   4.60096915,
         5.34361382,   1.64650419,   3.34994381,  20.65670892,
        11.24416344,   4.4581626 ,  41.11659178,   5.58138076,
         4.2427703 ,   4.23142515,  16.60976573,  35.34140444,
         2.21367606,   3.92694703,   4.22454517,   7.44427658,
        15.09642434,  56.24043706,  10.33954475,   3.91390587,
        15.24543039,  15.13788752,   4.79448725,   4.26190697,
         4.63411467,  19.03499699,   5.65532537,   6.99610515,
         3.26221851,   6.34746393,   8.80292051,   2.47810449,
         0.77402486,   9.77216058,   0.8916933 ,   8.44014585,
         6.65844569,   5.33925425,   3.98405476,  28.17176651,
         4.74363057,   6.46746373,   5.55669526,   3.19842162,
         7.05546365,   8.82212592,   5.24369549,  17.80505136,
         1.12297583,   5.01524516,   6.79104397,   2.50790439,
         1.24572411,   3.97649077,   1.29662064,  12.9405064 ,
         5.08491934, 182.67445699,   4.93998173,  35.17787064,
         5.42980178,  16.40579288,  10.84536441,   0.73712621,
        60.81989082,   9.28716382,   3.5967777 ,   4.20984097,
         3.60989668,   3.68062812,   5.08616164,   4.76040697,
         5.60196996,   4.91513159,   6.35535791,   7.39511117,
         7.03159311,   4.71631401,   5.34038355,   4.99566399,
         8.65852206,  50.02666997,   7.60515986,   2.88463911,
         2.46405824,  19.17945295,   5.25612861,   1.92443152,
         2.93245349,  17.64859641,  15.89327943,   7.47189765,
         1.13548388,   5.50245678,   3.87702079,   1.99044715,
         6.33305339,   2.64716548,  14.61997825,   9.55819631,
        18.67063231,   6.2849549 ,   4.74395939,   5.68530091,
         5.80047844,  29.39959332,   4.27516063,   2.10412445,
         5.65260876,   4.93252492,   6.07938354,   1.19554035,
         0.80678249,   8.58613916,  13.6911642 ,   2.03583442,
         5.85188639,   8.19731635,   2.45211354,  12.92120581,
         1.00076334,   3.43791608,   3.98043974,  16.76996958,
         2.37976568,   3.38170787,   5.32911879,   6.32360822,
         2.41002144,   5.8727525 ,  29.31748688,   1.91777772,
         3.55759777,   3.59748449,  15.43721055,   3.17976888,
         3.45536333,   1.74423968])

In [ ]:
predict=pd.DataFrame(predict)
predict.to_csv('test_predict.csv')